<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <title>Home</title>
</head>

<body>
    <header>
        {% csrf_token %}
        {% include 'header.html' %}
        {% block content %}
        {% endblock content %}
    </header>

    <div class="container">
        <div class="alert alert-info" role="alert" id="info" hidden></div>
        <div class="row">
            <h1><span class="glyphicon glyphicon-user"></span> Welcome {{ user_first_name }}</h1>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            var userFirstName = "{{ user_first_name }}";
            $('#info').text('Welcome ' + userFirstName).show();
            $('#info').fadeToggle(3000);
        });
    </script>
</body>

</html>