{% if request.session.user_id %}
<header>
    <nav class="navbar navbar-inverse justify-content-center jus">
        <div class="container-fluid" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a style="font-weight: 900" href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                    </li>
                    {% if user.is_superuser %}
                    <li><a href="/admins/">ADMINS</a></li>
                    {% else %}
                    {% if not user_member_role %}
                    <li><a href="/members/">MEMBERS</a></li>
                    {% endif %}
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right ">
                    <li class="active"><a style="font-weight: 900" id="logout" href="/logout/"><span
                                class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                </ul>
        </div>
    </nav>
</header>
{% endif %}
