{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="alert alert-info" role="alert" id="info" hidden></div>
    <div class="row">
        <h1><span class="glyphicon glyphicon-user"></span> Welcome {{ user.first_name }}</h1>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        var userFirstName = "{{ user.first_name }}";
        $('#info').text('Welcome ' + userFirstName).show();
        $('#info').fadeToggle(3000);
    });
</script>
{% endblock %}