{% extends "base.html" %}


{% block title %}
Login Page
{% endblock %}

{% block css %}
<style>
    .error {
        color: red;
    }
</style>
{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <form method="post" id="form" action="{% url 'login' %}?next={{ request.GET.next }}">
            {% csrf_token %}
            <div class="alert alert-success" role="alert" id="success" hidden>
            </div>
            <div class="alert alert-danger" role="alert" id="error" {% if messages %} {% else %} hidden {% endif %}>
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            <div class="alert alert-danger" role="alert" id="error" hidden>
            </div>
            <div class="alert alert-success" role="alert" id="success" hidden>
            </div>
            <div class="col-sm">
                <h1 class="text-center jumbotron">Login Page</h1>
                <div class="form-group">
                    <label for="username">Username or Email</label>
                    <input type="text" class="form-control" name="username" id="username"
                        placeholder="Username or Email" required>
                </div>
                </br>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                        required autocomplete="off">
                </div>
            </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary" id="submit">
            Login
        </button>
    </div>
    </br>
    </form>
</section>
{% endblock %}


{% block js %}
<script>
    $(document).ready(function () {

        $('#form').validate({
            rules: {
                username: {
                    required: true,
                    maxlength: 50,
                },
                password: {
                    minlength: 5,
                },
            },
            messages: {
                username: {
                    required: 'Please enter a username or email.'
                },
                password: {
                    required: 'Please enter a password.'
                }
            }
        });



        function trimInputValues() {
            $('#username').val($('#username').val().trim());
            $('#password').val($('#password').val().trim());
        }

        $('#form').submit(function (event) {
            trimInputValues(); 
        });

        setTimeout(function () {
            $('#error').hide();
        }, 3000);

    });


</script>
{% endblock %}