{% extends "base.html" %}

{% block title %}
Members
{% endblock %}

{% block css %}
<style>
    #email-error,
    #first_name-error,
    #last_name-error,
    #username-error,
    #password-error,
    #confirm_password-error,
    #address-error,
    #gender-error {
        color: red;
    }


    .add-btn {
        margin-top: 37px;
    }

    .admincount {
        margin-top: 37px;

    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="alert alert-info" role="alert" id="info" hidden></div>
    <div class="alert alert-success" role="alert" id="admin-success" hidden>
    </div>

    {% if user.is_superuser or current_user%}
    <div class="alert alert-success" role="alert" id="success" hidden>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>

    <div class="row ">
        <h2 id="member-count" class="col-md-6 admincount">
            <span class="glyphicon glyphicon-user"></span> Members ({{ members.count }})
        </h2>
        <div class="col-md-6" style="text-align: right;">
            <button type="button" class="btn btn-primary text-center add-btn" data-toggle="modal"
                data-target="#exampleModal">
                Add Member </button>
            <br />
        </div>
    </div>

    {% include 'modal_form.html' %}

    <br />
    <div class="row">
        <div class="col-md-12" style="text-align: right;">
            <form class="form-inline">
                <div class="form-group">
                    <label for="myInput" class="mr-2">Search :</label>
                    <input class="form-control" id="myInput" type="text" placeholder="Search.." style="width: 400px;">
                </div>
            </form>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Admin Username</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% if members %}
            {% for member in members %}
            <tr id="tabel-set" data-row-id="{{ member.id }}">
                <td>{{ member.id }}</td>
                <td>{{ member.username }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.first_name }}</td>
                <td>{{ member.last_name }}</td>
                <td>{{ member.address }}</td>
                <td>{{ member.get_gender_display }}</td>
                <td>{{ member.parent_username}}</td>
                <td>{{ member.formatted_created_at }}</td>
                <td>{{ member.formatted_updated_at }}</td>
                <td>
                    <button class="btn btn-primary  edit-btn" data-toggle="modal" data-target="#exampleModal"
                        data-id="{{ member.id }}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-danger delete-btn " data-id="{{ member.id }}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>

            </tr>
            {% endfor %}
            {% else %}
            <div id="add-data"></div>
            <tr>
                <td colspan="10" class="text-center" id="add-data-message">No matching records found.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% endif %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            {% if members.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ members.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            {% for num in members.paginator.page_range %}
            {% if members.number == num %}
            <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
            {% endfor %}
            {% if members.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ members.next_page_number }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>

</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    let member_id = null

    $(document).ready(function () {


        $('#form').validate({
            rules: {
                email: {
                    required: true
                },
                first_name: {
                    required: true
                },
                last_name: {
                    required: true
                },
                username: {
                    required: true,
                    maxlength: 15,
                },
                password: {
                    minlength: 5,
                },
                confirm_password: {
                    minlength: 5,
                    equalTo: "#password"
                },
                address: {
                    required: true
                },
                gender: {
                    required: true
                },
            },
            messages: {
                email: {
                    required: 'Enter please in Email.'
                },
                first_name: {
                    required: 'Enter please a First Name.'
                },
                last_name: {
                    required: 'Enter please a Last Name.'
                },
                username: {
                    required: 'Enter please a User Name.',
                },
                password: {
                    required: 'Enter please a Password.'
                },
                confirm_password: {
                    required: 'Enter please a Confirm Password.'
                },
                address: {
                    required: 'Enter please a Address.'
                },
                gender: {
                    required: 'please choose any one Gender.'
                },
            }
        });


        $('#save-btn').on('click', function (e) {
            e.preventDefault();
            if ($("#form").valid()) {
                member_id = $('#member_id').val();
                var data = {
                    email: $('#email').val().trim(),
                    first_name: $('#first_name').val().trim(),
                    last_name: $('#last_name').val().trim(),
                    username: $('#username').val().trim(),
                    address: $('#address').val().trim(),
                    gender: $('input[name="gender"]:checked').val(),
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                };

                if (!member_id) {
                    data.password = $('#password').val().trim();
                    data.confirm_password = $('#confirm_password').val().trim();
                }
                $.ajax({
                    type: 'POST',
                    url: member_id ? `/members/${member_id}` : `/members/add`,
                    data: data,
                    success: function (result) {
                        if (result.code == 200) {
                            let new_row = `
                                                    <tr id="tabel-set" data-row-id="${result.data.member_id}">
                                                        <td>${result.data.member_id}</td>
                                                        <td>${result.data.username}</td>
                                                        <td>${result.data.email}</td>
                                                        <td>${result.data.first_name}</td>
                                                        <td>${result.data.last_name}</td>
                                                        <td>${result.data.address}</td>
                                                        <td>${result.data.gender}</td>
                                                        <td>${result.data.parent_username}</td>
                                                        <td>${result.data.created_at}</td> 
                                                        <td>${result.data.updated_at}</td>                                         
                                                        <td>
                                                            <button class="btn btn-primary  edit-btn" data-toggle="modal" data-target="#exampleModal"
                                                                data-id="{{ member.id }}">
                                                                <span class="glyphicon glyphicon-pencil"></span>
                                                            </button>
                                                            <button class="btn btn-danger delete-btn " data-id="{{ member.id }}">
                                                                <span class="glyphicon glyphicon-trash"></span>
                                                            </button>
                                                        </td>
                                                    </tr>`;

                            if (member_id) {
                                $(`#tabel-set[data-row-id="${member_id}"]`).replaceWith(new_row);
                            } else {
                                $('table tbody').prepend(new_row);
                                updateMemberCount();
                            }
                            $('#success').text(result.message).show();
                            $('#success').fadeToggle(3000);
                            $('#exampleModal').modal('hide');
                            $('.modal-backdrop').remove();
                        } else {
                            $('#error').text(result.message).show();
                            $('#error').fadeToggle(3000);
                        }
                    },
                    error: function (error) {
                        console.log('Ajax request failed with error:', error);
                        $('#error').text('Something went wrong. Please try again later.').show();
                        $('#error').fadeToggle(3000);
                    }
                });
            }
        });


        function handleSearch() {
            var value = $("#myInput").val().toLowerCase().trim();
            $.ajax({
                url: window.location.pathname + '?search=' + value,
                success: function (data) {
                    $('#myTable').html($(data).find('#myTable').html());
                    $('.pagination').html($(data).find('.pagination').html());
                    if ($("#myTable tr:visible").length === 0) {
                        $("#noResultsMessage").show();
                    } else {
                        $("#noResultsMessage").hide();
                    }
                }
            });
        }


        $("#myInput").on("keyup", function () {
            handleSearch();
        });


        $('body').on('click', '.pagination a', function (event) {
            event.preventDefault();
            let pageNumber = $(this).attr('href').split('page=')[1];
            $.ajax({
                url: window.location.pathname + '?page=' + pageNumber,
                success: function (data) {
                    $('#myTable').html($(data).find('#myTable').html());
                    $('.pagination').html($(data).find('.pagination').html());
                    if ($("#myTable tr:visible").length === 0) {
                        $("#noResultsMessage").show();
                    } else {
                        $("#noResultsMessage").hide();
                    }
                }
            });
        });


        $('.add-btn').click(function () {
            $('#member_id').val('');
            $('#form').trigger('reset');
            $("input[name='gender']").prop("checked", false);
            $('#password').closest('.form-group').show();
            $('#confirm_password').closest('.form-group').show();
            $('#title-add').show();
            $('.modal-title').html(`<h1 class="text-center"> Add Member </h1>`);
            $('#exampleModal').toggle('show');
        });


        $('body').on('click', '.edit-btn', function () {
            member_id = $(this).closest('tr').data('row-id');
            $('#password').closest('.form-group').hide();
            $('#confirm_password').closest('.form-group').hide();
            $('.modal-title').html(`<h1 class="text-center"> Edit Member </h1>`);

            $('#form').validate().resetForm();
            $.ajax({
                type: "GET",
                url: `/members/${member_id}`,
                success: function (result) {
                    if (result.code == 200) {
                        $('#email').val(result.data.email);
                        $('#first_name').val(result.data.first_name);
                        $('#last_name').val(result.data.last_name);
                        $('#username').val(result.data.username);
                        $('#address').val(result.data.address);
                        $('input[name="gender"][value="' + result.data.gender + '"]').prop('checked', true);
                        $('#member_id').val(member_id);
                        $('#exampleModal').toggle('show');
                    }
                },
            });
        });


        $('body').on('click', '.delete-btn', function () {
            let memberId = $(this).data('id');

            if (memberId) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'You will not be able to recover this member!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'Cancel'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: 'DELETE',
                            url: `/members/${memberId}/`,
                            success: function (response) {
                                if (response.code === 200) {
                                    $(`#tabel-set[data-row-id="${memberId}"]`).remove();
                                    Swal.fire(
                                        'Deleted!',
                                        'The member has been deleted.',
                                        'success'
                                    );
                                } else {
                                    Swal.fire(
                                        'Error!',
                                        response.message,
                                        'error'
                                    );
                                }
                            },
                            error: function (error) {
                                Swal.fire(
                                    'Error!',
                                    'An error occurred while processing your request. Please try again later.',
                                    'error'
                                );
                            }
                        });
                    }
                });
            } else {
                console.error('Invalid member ID:', memberId);
            }
        });


        function updateMemberCount() {
            let currentCount = parseInt($('#member-count').text().match(/\d+/)[0]);
            $('#member-count').html(`<span class="glyphicon glyphicon-user"></span>  Members (${currentCount + 1})`);
        }
    });

</script>
{% endblock %}