<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  <title>Home</title>
</head>

<body>
  <header>
    {% csrf_token %}
    {% include 'header.html' %}
  </header>

  <div class="container">
    <div class="alert alert-info" role="alert" id="info" hidden></div>
    {% if user.is_superuser or current_user%}
    <h2>Members ({{ members.count }})</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Gender</th>
          <th>parent_id</th>
        </tr>
      </thead>
      <tbody>
        {% for member in members %}
        <tr>
          <td>{{ member.id }}</td>
          <td>{{ member.username }}</td>
          <td>{{ member.email }}</td>
          <td>{{ member.first_name }}</td>
          <td>{{ member.last_name }}</td>
          <td>{{ member.address }}</td>
          <td>{{ member.get_gender_display }}</td>
          <td>{{ member.parent_id }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>

  <script>
  </script>
</body>

</html>